:root {
  --design-spacing-section: 2.75rem;
}

@media (min-width: 40rem) {
  :root {
    --design-spacing-section: 3.5rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --design-spacing-section: 5rem;
  }
}
